{% extends 'web/base.html' %} {% block content %}
{% load static %}


<div class="container-fluid text-center position-relative center px-0">
    <img class="img-fluid" src="{% static 'web' %}/assets/img/values1.png" style="width:100%; height: 360px;" alt="">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="about-section-title text-white">
            <h1 class="text-white">關於波麗壁布</h1> 
        </div>
    </div>
</div>

<div class="text-center py-5" style="background-color: #F5F5F5;">
    關於波麗壁布寫在這裡
</div>


{% endblock %}