{% extends 'web/base.html' %} {% block content %}
{% load static %}


<div class="container-fluid text-center mt-3 position-relative center px-0">
    <img class="img-fluid d-md-none" src="{% static 'web' %}/assets/img/cases_page/header_bg.jpg" style="width:100%; height: 320px;object-fit: cover;" alt="">
    <img class="img-fluid d-none d-md-block" src="{% static 'web' %}/assets/img/cases_page/header_bg_long.png" style="width:100%; height: 320px; object-fit: cover;" alt="">
    <div class="position-absolute top-50 start-50 translate-middle mt-3">
        <div class="about-section-title text-white">
            <h2>精選案例</h2> 
            <!-- <img class="img-fluid" src="{% static 'web' %}/assets/img/cases_page/header_word.png" style="width:250px;" alt=""> -->
        </div>
    </div>
</div>

<div class="container text-center my-5 d-md-none" style="max-width: 1180px;">
    <img class="img-fluid" src="{% static 'web' %}/assets/img/cases_page/cases_mobile.png" alt="">
</div>

<div class="container text-center my-5 d-none d-md-block" style="max-width: 1180px;">
    <img class="img-fluid" src="{% static 'web' %}/assets/img/cases_page/cases.png" alt="">
</div>


{% endblock %}